<li>
  <span class="content">Name: <%= event.name %></span>
  <span class="content">TYPE: <%= event.event_type %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(event.created_at) %> ago.
  </span>
</li>